html, body {
    height: 100%;
    margin: 0;
    background-image: url('./assets/img/calc_bg.jpg');
    background-position: center;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
